@font-face { 
    font-family: 'Oswald', sans-serif;
}

@font-face {
    font-family: 'Akshar', sans-serif;
}

html {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(18, 18, 18);
    color: rgb(240, 240, 240);
    font-family: 'Akshar';
    font-weight: 400;
    margin: 0;
    padding: 0;
}

p {
    font-size: clamp(0px, 3.2vw, 32px);
    margin: 0;
    width: 50%;
    letter-spacing: 0.00em;
}

h1 {
    letter-spacing: 0.02em;
    font-family: 'Oswald';
    line-height: 1em;
    font-size: clamp(0px, 7.8vw, 110px);
    margin: 0;
    margin-bottom: 3%;
    width: 50%;
}

.boxRight {
    float: right;
    width : 90%;
    position:relative;
    padding-right: 5%;
    text-align: right;
    right: 0;
}

.boxLeft {
    float: left;
    width : 90%;
    position: relative;
    padding-left: 5%;
    text-align: left;
    left: 0;
}

.boxRight h1 {
    float: right;
    width: 100%;
}

.boxLeft h1 {
    float: left;
    width: 100%;
}

.boxRight p {
    float: right;
}

.boxLeft p {
    float: left;
}