@font-face {
    font-family: 'steamed';
    src: url("fonts/Steamed.otf");
}

@font-face {
    font-family: 'swis721';
    src: url("fonts/swissc.ttf");
}

@font-face {
    font-family: 'segoe';
    src: url("fonts/seguisym.ttf");
}

html {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(18, 18, 18);
    color: rgb(240, 240, 240);
    font-family: 'segoe';
    margin: 0;
    padding: 0;
    letter-spacing: 0.1em;
}

p {
    font-size: clamp(0px, 2.4vw, 32px);
    text-align: right;
    margin: 0;
}

h1 {
    font-family: 'swis721';
    font-size: clamp(0px, 6.2vw, 90px);
    text-align: right;
    margin: 0;
    margin-bottom: 10%;
}

.boxRight {
    float: right;
    width : 45%;
    position: relative;
    aspect-ratio: 1;
    padding-right: 5%;
}

.boxLeft {
    float: left;
    width : 45%;
    position: relative;
    aspect-ratio: 1;
    padding-left: 5%;
}

.boxImage {
    width : 50%;
    position: relative;
    aspect-ratio: 1;
}